.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}


.section{
  display: flex;
  flex-direction: row;

}
.card{
  background-image: url('../assets/movie-img.avif');
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 10px;
  margin: auto ;
}